/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 200px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.heroplatzhalter {
  text-align: center;
  color: white;
  background-image: url(../images/platzhalter_gross_paws.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px;
}

.navbar-brand {
  font-size: 15px;
  font-weight: 900;
  font-family: "Quicksand", sans-serif;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-nav {
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}

.active {
  font-weight: 900;
}

.dropdown-item.active {
  background-color: white;
}

.content {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  padding: 50px;
}

.copyright {
  font-size: 11px;
  font-family: "Quicksand", sans-serif;
  margin: 5px 15px 5px 10px;
}

.fa-brands {
  margin: 0px;
  color: white;
  text-decoration: none;
}
.round {
  border-radius: 50%;
}

.btn-dark {
  background: white;
  border: 1px solid black;
  border-radius: 8px;
  color: black;
  padding: 12px 25px;
}

h1 {
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

small {
  font-size: 12px;
}

h2 {
  font-size: 80px;
  font-family: "DM Serif Display", serif;
  padding-top: 60px;
}

h3 {
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
  text-align: left;
  margin-bottom: 30px;
}

h4 {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

p {
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}

ul {
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}

.textfullwidth {
  text-align: left;
  max-width: 1100px;
}

footer {
  position: relative;
  bottom: 0;
  padding-left: 10px;
  width: 100%;
  background: #212529;
  min-height: 200px;
  color: white;
  text-align: left;
}

a {
  color: grey;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

@media (max-width: 600px) {
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 60px;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    text-align: left;
  }

  .copyright {
    text-align: left;
  }

  small {
    font-size: 11px;
  }

  .round,
  .logokombi {
    display: none;
  }
}

.gallery {
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 5px;
  -moz-column-count: 5;
  -moz-column-gap: 5px;
  column-count: 5;
  column-gap: 5px;
  padding-left: calc(8%);
  padding-right: calc(8%);
}

.gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 5px;
  border-radius: 5px;
  filter: grayscale(100%);
}

@media (max-width: 1200px) {
  .gallery {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media (max-width: 1000px) {
  .gallery {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .gallery {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 400px) {
  .gallery {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

.portrait img {
  filter: grayscale(100%);
}

.imagehover img:hover {
  filter: none;
  transform: scale(1.2);
  transition: ease-in-out 0.5s;
  position: relative;
  z-index: 2;
}

.herologin {
  text-align: center;
  color: white;
  background-image: url(../images/KVK_FB_Header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px;
}
